div(
  class= classNames('modal', 'fade', component)
  tabindex="-1"
  role="dialog"
  aria-labelledby="imagePasteLabel"
  aria-hidden="true"
)
  .modal-dialog.modal-lg(role="document")
    .modal-content
      form
        .modal-header
          h5.modal-title Paste Image
          button.close(type="button" data-dismiss="modal" aria-label="Close")
            span(aria-hidden="true") &times;
        .modal-body
          p
            img(src= dataURL)
          p
            .form-group
              label(for="fileName") File Name
              input.form-control(
                name= "fileName"
                type= "text"
                value= "image"
                data-on-input= "inputFileName"
              )
          p
            .form-group
              label(for="destPath") Destination Path
              input.form-control(
                name= "destPath"
                type= "text"
                readonly= "true"
                value= destPath
              )
          .alert-container
        .modal-footer
          button.btn.btn-secondary(type="button" data-dismiss="modal") Close
          button.btn.btn-primary(
            type="submit"
            data-on-click= "clickSubmit"
          ) Submit
